<div class="blogNewComment">
	<h2>Post a Comment</h2>
	<% if !current_user && (!BlogKit.instance.settings['anonymous_comments'] || BlogKit.instance.settings['anonymous_comments'] == false) %>
		<p>You must be logged in to post a comment.</p>
	<% else %>
		<% if current_user %>
			<p>Posting as <span class="blogPoster"><%= current_user.name %></span></p>
		<% end %>
		<% form_for([@blog_post, blog_comment]) do |f| %>
			<% if blog_comment.errors.size > 0 %>
				<div id="errorExplanation">
					<h2>The comment could not be saved:</h2>
					<ul>
						<% blog_comment.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			<% unless current_user %>
				<p>
					<%= f.label :name %><br />
					<%= f.text_field :name %>
				</p>
				<p>
					<%= f.label :site_url, 'Web Site' %><br />
					<%= f.text_field :site_url %>
				</p>
				<p>
					<%= f.label :email, 'Email (optional)' %><br />
					<%= f.text_field :email %>
				</p>
			<% end %>
			<p>
				<%= f.label :body, 'Comment' %><br />
				<%= f.text_area :body, :class => 'blogNewCommentField' %>
			</p>
			<p>
				<%= f.submit 'Post' %>
			</p>
		<% end %>
	<% end %>
</div>